[data-theme="dark"] [data-surface="chat"] {
  --ao-surface-primary: #212123;
  --ao-surface-extra-minimal: #2e2e32;
  --ao-surface-minimal: #2e2e32;
  --ao-surface-secondary: #2e2e32;
  --ao-surface-contrast: #1b1b1f;
  --ao-surface-invert: #f6f6f7;
  --ao-surface-input: #262629;
  --ao-surface-elevated-1: #2e2e32;
  --ao-surface-elevated-2: #3c3c3f;
  --ao-surface-brand: #0588f0;
  --ao-surface-brand-light: #0090ff;
  --ao-surface-brand-dark: #0d74ce;
  --ao-surface-brand-soft: #113264;
  --ao-surface-brand-soft-extra: #0d2847;
  --ao-surface-error: #e5484d;
  --ao-surface-error-soft: #3b1219;
  --ao-surface-success: #30a46c;
  --ao-surface-success-soft: #113b29;
  --ao-surface-info: #0588f0;
  --ao-surface-info-soft: #0d2847;
  --ao-surface-warning: #f76b15;
  --ao-surface-warning-soft: #331e0b;
  --ao-surface-neutral: #525256;
  --ao-surface-neutral-soft: #2e2e32;
  --ao-text-primary: #f6f6f7;
  --ao-text-secondary: #e2e2e3;
  --ao-text-contrast: #929295;
  --ao-text-invert: #1b1b1f;
  --ao-text-invert-secondary: #262629;
  --ao-text-error: #e5484d;
  --ao-text-brand: #5eb1ef;
  --ao-text-success: #8eceaa;
  --ao-text-info: #5eb1ef;
  --ao-text-warning: #ec9455;
  --ao-text-neutral: #e2e2e3;
  --ao-border-brand: #0d74ce;
  --ao-border-primary: #f6f6f7;
  --ao-border-secondary: #3c3c3f;
  --ao-border-contrast: #1b1b1f;
  --ao-border-invert: #f6f6f7;
  --ao-border-error: #ce2c31;
  --ao-border-success: #218358;
  --ao-border-info: #0d74ce;
  --ao-border-warning: #cc4e00;
  --ao-border-neutral: #525256;
  --ao-border-card: #3c3c3f;
  --ao-icon-primary: #f6f6f7;
  --ao-icon-secondary: #929295;
  --ao-icon-contrast: #929295;
  --ao-icon-invert: #1b1b1f;
  --ao-icon-invert-secondary: #262629;
  --ao-icon-brand: #0588f0;
  --cc-header-primary-bg: #1e293b;
  --cc-header-secondary-bg: #334155;
  --cc-header-icon: #334155;
  --cc-mainmenu-primary-bg: #334155;
  --cc-mainmenu-secondary-bg: #1e293b;
  --cc-mainmenu-icon: #334155;
  --cc-ui-primary-bg: #131316;
  --cc-ui-secondary-bg: #212123;
  --cc-actions-menu-primary-bg: #334155;
  --cc-actions-menu-secondary-bg: #1e293b;
  --cc-actions-menu-icon: #334155;
  --cc-actions-menu-icon-active: #334155;
  --ao-chat-brand: #0588f0;
  --ao-chat-msg-bg: #0d2847;
  --ao-chat-msg-text: #0090ff;
  --ao-chat-sidebar-bg: #1b1b1f;
  --ao-chat-sidebar-text: #e2e2e3;
  --ao-btn-primary-bg: #0588f0;
  --ao-btn-primary-bg-hover: #0090ff;
  --ao-btn-primary-bg-pressed: #0d74ce;
  --ao-btn-primary-border: rgba(0, 0, 0, 0);
  --ao-btn-primary-border-hover: rgba(0, 0, 0, 0);
  --ao-btn-primary-text: #ffffff;
  --ao-btn-primary-text-hover: #ffffff;
  --ao-btn-secondary-bg: rgba(0, 0, 0, 0);
  --ao-btn-secondary-bg-hover: #2e2e32;
  --ao-btn-secondary-bg-pressed: #2e2e32;
  --ao-btn-secondary-border: #3c3c3f;
  --ao-btn-secondary-border-hover: #3c3c3f;
  --ao-btn-secondary-text: #f6f6f7;
  --ao-btn-secondary-text-hover: #f6f6f7;
  --ao-btn-tertiary-bg: rgba(0, 0, 0, 0);
  --ao-btn-tertiary-bg-hover: #212123;
  --ao-btn-tertiary-bg-pressed: #2e2e32;
  --ao-btn-tertiary-border: rgba(0, 0, 0, 0);
  --ao-btn-tertiary-border-hover: rgba(0, 0, 0, 0);
  --ao-btn-tertiary-text: #f6f6f7;
  --ao-btn-tertiary-text-hover: #f6f6f7;
  --ao-btn-bg-disabled: #67676c;
  --ao-btn-text-disabled: #c2c2c4;
  --ao-datatable-table-bg: #212123;
  --ao-datatable-table-header-bg: #2e2e32;
  --ao-datatable-table-subheader-bg: #212123;
  --ao-datatable-table-footer-bg: #2e2e32;
  --ao-datatable-table-border: #3c3c3f;
  --ao-datatable-table-expanded-bg: #2e2e32;
  --ao-skeleton-base: #1b1b1f;
  --ao-skeleton-highlight: #2e2e32;
  --ao-src-carousel-card-bg: #2e2e32;
  --ao-accent-blue-radix-solid: #0090ff;
  --ao-accent-blue-radix-solid-fg: #ffffff;
  --ao-accent-blue-radix-soft: #113264;
  --ao-accent-blue-radix-soft-fg: #0090ff;
  --ao-accent-teal-radix-solid: #12a594;
  --ao-accent-teal-radix-solid-fg: #ffffff;
  --ao-accent-teal-radix-soft: #0d3d38;
  --ao-accent-teal-radix-soft-fg: #12a594;
  --ao-accent-green-radix-solid: #30a46c;
  --ao-accent-green-radix-solid-fg: #ffffff;
  --ao-accent-green-radix-soft: #193b2d;
  --ao-accent-green-radix-soft-fg: #30a46c;
  --ao-accent-jade-solid: #29a383;
  --ao-accent-jade-solid-fg: #ffffff;
  --ao-accent-jade-soft: #1d3b31;
  --ao-accent-jade-soft-fg: #29a383;
  --ao-accent-lagoon-solid: #009fba;
  --ao-accent-lagoon-solid-fg: #ffffff;
  --ao-accent-lagoon-soft: #043840;
  --ao-accent-lagoon-soft-fg: #009fba;
  --ao-accent-orange-radix-solid: #f76b15;
  --ao-accent-orange-radix-solid-fg: #172033;
  --ao-accent-orange-radix-soft: #582d1d;
  --ao-accent-orange-radix-soft-fg: #f76b15;
  --ao-accent-red-radix-solid: #e5484d;
  --ao-accent-red-radix-solid-fg: #ffffff;
  --ao-accent-red-radix-soft: #641723;
  --ao-accent-red-radix-soft-fg: #e5484d;
  --ao-accent-violet-radix-solid: #6e56cf;
  --ao-accent-violet-radix-solid-fg: #ffffff;
  --ao-accent-violet-radix-soft: #2f265f;
  --ao-accent-violet-radix-soft-fg: #aa99ec;
  --ao-accent-lime-radix-solid: #bdee63;
  --ao-accent-lime-radix-solid-fg: #172033;
  --ao-accent-lime-radix-soft: #37401c;
  --ao-accent-lime-radix-soft-fg: #bdee63;
  --ao-accent-blue-solid: #0071d8;
  --ao-accent-blue-solid-fg: #ffffff;
  --ao-accent-blue-soft: #0f406b;
  --ao-accent-blue-soft-fg: #75a5ff;
  --ao-accent-mid-blue-solid: #426e86;
  --ao-accent-mid-blue-solid-fg: #ffffff;
  --ao-accent-mid-blue-soft: #0b2c3e;
  --ao-accent-mid-blue-soft-fg: #a1b7c3;
  --ao-accent-dark-blue-solid: #335562;
  --ao-accent-dark-blue-solid-fg: #ffffff;
  --ao-accent-dark-blue-soft: #001923;
  --ao-accent-dark-blue-soft-fg: #99aab1;
  --ao-accent-muted-teal-solid: #0094ad;
  --ao-accent-muted-teal-solid-fg: #ffffff;
  --ao-accent-muted-teal-soft: #043840;
  --ao-accent-muted-teal-soft-fg: #98d9dc;
  --ao-accent-bright-teal-solid: #30b6c2;
  --ao-accent-bright-teal-solid-fg: #172033;
  --ao-accent-bright-teal-soft: #00282f;
  --ao-accent-bright-teal-soft-fg: #98d9dc;
  --ao-accent-emerald-solid: #059669;
  --ao-accent-emerald-solid-fg: #ffffff;
  --ao-accent-emerald-soft: #064e3b;
  --ao-accent-emerald-soft-fg: #34da9b;
  --ao-accent-orange-solid: #ea580c;
  --ao-accent-orange-solid-fg: #ffffff;
  --ao-accent-orange-soft: #7c2d12;
  --ao-accent-orange-soft-fg: #fb923c;
  --ao-accent-pink-solid: #db2777;
  --ao-accent-pink-solid-fg: #ffffff;
  --ao-accent-pink-soft: #831843;
  --ao-accent-pink-soft-fg: #f472b6;
  --ao-accent-red-solid: #dc2626;
  --ao-accent-red-solid-fg: #ffffff;
  --ao-accent-red-soft: #7f1d1d;
  --ao-accent-red-soft-fg: #f87171;
  --ao-accent-green-solid: #4eb78f;
  --ao-accent-green-solid-fg: #172033;
  --ao-accent-green-soft: #146345;
  --ao-accent-green-soft-fg: #a7dbc7;
  --ao-accent-purple-solid: #9333ea;
  --ao-accent-purple-solid-fg: #ffffff;
  --ao-accent-purple-soft: #581c87;
  --ao-accent-purple-soft-fg: #c084fc;
  --ao-accent-indigo-solid: #4f46e5;
  --ao-accent-indigo-solid-fg: #ffffff;
  --ao-accent-indigo-soft: #312e81;
  --ao-accent-indigo-soft-fg: #818cf8;
}
