[data-brand="cc"] {
  --ai-surface-primary: #ffffff;
  --ai-surface-minimal: #f3f6f7;
  --ai-surface-secondary: #e7edf0;
  --ai-surface-contrast: #d0dbe1;
  --ai-surface-invert: #0b2c3e;
  --ai-surface-elevated-1: #ffffff;
  --ai-surface-elevated-2: #f3f6f7;
  --ai-surface-brand: #3391a4;
  --ai-surface-brand-light: #66acbb;
  --ai-surface-brand-dark: #00758d;
  --ai-surface-brand-soft: #cce3e8;
  --ai-surface-brand-soft-extra: #f2f8f9;
  --ai-surface-error: #dc2626;
  --ai-surface-error-soft: #fef3f3;
  --ai-surface-success: #10b981;
  --ai-surface-success-soft: #ecfdf5;
  --ai-surface-info: #3391a4;
  --ai-surface-info-soft: #f2f8f9;
  --ai-surface-warning: #f97316;
  --ai-surface-warning-soft: #fff7ed;
  --ai-surface-neutral: #334155;
  --ai-surface-neutral-soft: #f1f5f9;
  --ai-text-primary: #00222f;
  --ai-text-secondary: #002a3b;
  --ai-text-contrast: #667f89;
  --ai-text-invert: #ffffff;
  --ai-text-invert-secondary: #ccd4d8;
  --ai-text-error: #b91c1c;
  --ai-text-brand: #3391a4;
  --ai-text-success: #065f46;
  --ai-text-info: #0b4c81;
  --ai-text-warning: #9a3412;
  --ai-text-neutral: #1e293b;
  --ai-border-brand: #3391a4;
  --ai-border-primary: #335562;
  --ai-border-secondary: #e5e9eb;
  --ai-border-contrast: #99aab1;
  --ai-border-invert: #335562;
  --ai-border-error: #fbd5d5;
  --ai-border-success: #a7f3d0;
  --ai-border-info: #bfd1ff;
  --ai-border-warning: #fdba74;
  --ai-border-neutral: #e7edf0;
  --ai-icon-primary: #335562;
  --ai-icon-secondary: #667f89;
  --ai-icon-contrast: #99aab1;
  --ai-icon-invert: #ffffff;
  --ai-icon-invert-secondary: #a1b7c3;
  --ai-icon-brand: #3391a4;
  --cc-header-primary-bg: #0f3b53;
  --cc-header-secondary-bg: #ffffff;
  --cc-header-icon: #f3f6f7;
  --cc-mainmenu-primary-bg: #0f3b53;
  --cc-mainmenu-secondary-bg: #0b2c3e;
  --cc-mainmenu-icon: #f3f6f7;
  --cc-ui-primary-bg: #e7edf0;
  --cc-ui-secondary-bg: #ffffff;
  --ai-chat-brand: #3391a4;
  --ai-chat-msg-bg: #f2f8f9;
  --ai-chat-msg-text: #004655;
  --ai-chat-sidebar-bg: #f2f4f5;
  --ai-chat-sidebar-text: #00222f;
  --ai-btn-primary-bg: #3391a4;
  --ai-btn-primary-bg-hover: #66acbb;
  --ai-btn-primary-bg-pressed: #00758d;
  --ai-btn-primary-border: rgba(0, 0, 0, 0);
  --ai-btn-primary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-primary-text: #ffffff;
  --ai-btn-primary-text-hover: #ffffff;
  --ai-btn-secondary-bg: rgba(0, 0, 0, 0);
  --ai-btn-secondary-bg-hover: #f3f6f7;
  --ai-btn-secondary-bg-pressed: #e5e9eb;
  --ai-btn-secondary-border: #ccd4d8;
  --ai-btn-secondary-border-hover: #ccd4d8;
  --ai-btn-secondary-text: #00222f;
  --ai-btn-secondary-text-hover: #00222f;
  --ai-btn-tertiary-bg: #e5e9eb;
  --ai-btn-tertiary-bg-hover: #f2f4f5;
  --ai-btn-tertiary-bg-pressed: #e5e9eb;
  --ai-btn-tertiary-border: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-text: #00222f;
  --ai-btn-tertiary-text-hover: #00222f;
  --ai-btn-bg-disabled: #e5e9eb;
  --ai-btn-text-disabled: #99aab1;
  --ai-datatable-table-bg: #ffffff;
  --ai-datatable-table-header-bg: #f3f6f7;
  --ai-datatable-table-subheader-bg: #ffffff;
  --ai-datatable-table-footer-bg: #ffffff;
  --ai-datatable-table-border: #e5e9eb;
  --ai-datatable-table-expanded-bg: #f3f6f7;
  --ai-skeleton-base: #e5e9eb;
  --ai-skeleton-highlight: #ffffff;
  --ai-src-carousel-card-bg: #f2f4f5;
}
