[data-theme="dark"] {
  --ai-surface-primary: #1b1b1f;
  --ai-surface-elevated-1: #212123;
  --ai-surface-elevated-2: #2e2e32;
  --ai-surface-minimal: #212123;
  --ai-surface-secondary: #2e2e32;
  --ai-surface-contrast: #3c3c3f;
  --ai-surface-invert: #f6f6f7;
  --ai-surface-brand: #0071d8;
  --ai-surface-brand-light: #3a8fff;
  --ai-surface-brand-dark: #0054a3;
  --ai-surface-brand-contrast: #75a5ff;
  --ai-surface-brand-contrast-extra: #bfd1ff;
  --ai-surface-error: #ef4444;
  --ai-surface-error-contrast: #fbd5d5;
  --ai-surface-success: #30cb90;
  --ai-text-primary: #f6f6f7;
  --ai-text-secondary: #e2e2e3;
  --ai-text-contrast: #929295;
  --ai-text-invert: #1b1b1f;
  --ai-text-error: #ef4444;
  --ai-border-brand: #0071d8;
  --ai-border-primary: #f6f6f7;
  --ai-border-secondary: #2e2e32;
  --ai-border-contrast: #3c3c3f;
  --ai-border-invert: #f6f6f7;
  --ai-border-error: #ef4444;
  --ai-icon-primary: #f6f6f7;
  --ai-icon-secondary: #929295;
  --ai-icon-contrast: #929295;
  --ai-icon-invert: #1b1b1f;
  --ai-icon-brand: #0071d8;
  --ai-chat-brand: #0071d8;
  --ai-chat-msg-bg: #0f406b;
  --ai-chat-msg-text: #f0f3ff;
  --ai-chat-sidebar-bg: #1b1b1f;
  --ai-chat-sidebar-text: #e2e2e3;
  --ai-btn-primary-bg: #0071d8;
  --ai-btn-primary-bg-hover: #3a8fff;
  --ai-btn-primary-bg-pressed: #0054a3;
  --ai-btn-primary-border: rgba(0, 0, 0, 0);
  --ai-btn-primary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-primary-text: #ffffff;
  --ai-btn-primary-text-hover: #ffffff;
  --ai-btn-secondary-bg: rgba(0, 0, 0, 0);
  --ai-btn-secondary-bg-hover: #212123;
  --ai-btn-secondary-bg-pressed: #2e2e32;
  --ai-btn-secondary-border: #3c3c3f;
  --ai-btn-secondary-border-hover: #3c3c3f;
  --ai-btn-secondary-text: #f6f6f7;
  --ai-btn-secondary-text-hover: #f6f6f7;
  --ai-btn-tertiary-bg: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-bg-hover: #212123;
  --ai-btn-tertiary-bg-pressed: #2e2e32;
  --ai-btn-tertiary-border: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-text: #f6f6f7;
  --ai-btn-tertiary-text-hover: #f6f6f7;
  --ai-btn-bg-disabled: #67676c;
  --ai-btn-text-disabled: #c2c2c4;
  --ai-skeleton-base: #1b1b1f;
  --ai-skeleton-highlight: #2e2e32;
  --ai-src-carousel-card-bg: #2e2e32;
}
