[data-surface="chat"] {
  --ai-surface-primary: #ffffff;
  --ai-surface-minimal: #e2e2e3;
  --ai-surface-secondary: #ffffff;
  --ai-surface-contrast: #f6f6f7;
  --ai-surface-invert: #1b1b1f;
  --ai-surface-elevated-1: #ffffff;
  --ai-surface-elevated-2: #f6f6f7;
  --ai-surface-brand: #0071d8;
  --ai-surface-brand-light: #3a8fff;
  --ai-surface-brand-dark: #0054a3;
  --ai-surface-brand-soft: #bfd1ff;
  --ai-surface-brand-soft-extra: #f0f3ff;
  --ai-surface-error: #dc2626;
  --ai-surface-error-soft: #fef3f3;
  --ai-surface-success: #10b981;
  --ai-surface-success-soft: #ecfdf5;
  --ai-surface-info: #0071d8;
  --ai-surface-info-soft: #f0f3ff;
  --ai-surface-warning: #f97316;
  --ai-surface-warning-soft: #fff7ed;
  --ai-surface-neutral: #2e2e32;
  --ai-surface-neutral-soft: #f6f6f7;
  --ai-text-primary: #212123;
  --ai-text-secondary: #3c3c3f;
  --ai-text-contrast: #67676c;
  --ai-text-invert: #ffffff;
  --ai-text-invert-secondary: #ececed;
  --ai-text-error: #b91c1c;
  --ai-text-brand: #0071d8;
  --ai-text-success: #065f46;
  --ai-text-info: #0b4c81;
  --ai-text-warning: #9a3412;
  --ai-text-neutral: #212123;
  --ai-border-brand: #0071d8;
  --ai-border-primary: #1b1b1f;
  --ai-border-secondary: #e2e2e3;
  --ai-border-contrast: #f6f6f7;
  --ai-border-invert: #1b1b1f;
  --ai-border-error: #fbd5d5;
  --ai-border-success: #a7f3d0;
  --ai-border-info: #bfd1ff;
  --ai-border-warning: #fdba74;
  --ai-border-neutral: #e2e2e3;
  --ai-icon-primary: #212123;
  --ai-icon-secondary: #67676c;
  --ai-icon-contrast: #929295;
  --ai-icon-invert: #ffffff;
  --ai-icon-invert-secondary: #e2e2e3;
  --ai-icon-brand: #0071d8;
  --cc-header-primary-bg: #1e293b;
  --cc-header-secondary-bg: #334155;
  --cc-header-icon: #334155;
  --cc-mainmenu-primary-bg: #334155;
  --cc-mainmenu-secondary-bg: #1e293b;
  --cc-mainmenu-icon: #334155;
  --ai-chat-brand: #0071d8;
  --ai-chat-msg-bg: #eff6ff;
  --ai-chat-msg-text: #1e3a8a;
  --ai-chat-sidebar-bg: #f6f6f7;
  --ai-chat-sidebar-text: #212123;
  --ai-btn-primary-bg: #0071d8;
  --ai-btn-primary-bg-hover: #3a8fff;
  --ai-btn-primary-bg-pressed: #0054a3;
  --ai-btn-primary-border: rgba(0, 0, 0, 0);
  --ai-btn-primary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-primary-text: #ffffff;
  --ai-btn-primary-text-hover: #ffffff;
  --ai-btn-secondary-bg: rgba(0, 0, 0, 0);
  --ai-btn-secondary-bg-hover: #f6f6f7;
  --ai-btn-secondary-bg-pressed: #f6f6f7;
  --ai-btn-secondary-border: #e2e2e3;
  --ai-btn-secondary-border-hover: #e2e2e3;
  --ai-btn-secondary-text: #212123;
  --ai-btn-secondary-text-hover: #212123;
  --ai-btn-tertiary-bg: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-bg-hover: #f6f6f7;
  --ai-btn-tertiary-bg-pressed: #ffffff;
  --ai-btn-tertiary-border: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-text: #212123;
  --ai-btn-tertiary-text-hover: #212123;
  --ai-btn-bg-disabled: #c2c2c4;
  --ai-btn-text-disabled: #67676c;
  --ai-datatable-table-bg: #ffffff;
  --ai-datatable-table-header-bg: #e2e2e3;
  --ai-datatable-table-subheader-bg: #ffffff;
  --ai-datatable-table-footer-bg: #e2e2e3;
  --ai-datatable-table-border: #e2e2e3;
  --ai-datatable-table-expanded-bg: #e2e2e3;
  --ai-skeleton-base: #e2e2e3;
  --ai-skeleton-highlight: #ffffff;
  --ai-src-carousel-card-bg: #f6f6f7;
}
