[data-brand="cc"] {
  --ai-surface-primary: #ffffff;
  --ai-surface-minimal: #f3f6f7;
  --ai-surface-secondary: #e7edf0;
  --ai-surface-contrast: #d0dbe1;
  --ai-surface-invert: #0b2c3e;
  --ai-surface-input: #f3f6f7;
  --ai-surface-elevated-1: #ffffff;
  --ai-surface-elevated-2: #f3f6f7;
  --ai-surface-brand: #0094ad;
  --ai-surface-brand-light: #009fba;
  --ai-surface-brand-dark: #007a8d;
  --ai-surface-brand-soft: #d9f2f2;
  --ai-surface-brand-soft-extra: #edf5f5;
  --ai-surface-error: #e5484d;
  --ai-surface-error-soft: #feebec;
  --ai-surface-success: #30a46c;
  --ai-surface-success-soft: #e6f6eb;
  --ai-surface-info: #0094ad;
  --ai-surface-info-soft: #edf5f5;
  --ai-surface-warning: #f76b15;
  --ai-surface-warning-soft: #fff7ed;
  --ai-surface-neutral: #334155;
  --ai-surface-neutral-soft: #f1f5f9;
  --ai-text-primary: #00222f;
  --ai-text-secondary: #335562;
  --ai-text-contrast: #667f89;
  --ai-text-invert: #ffffff;
  --ai-text-invert-secondary: #ccd4d8;
  --ai-text-error: #ce2c31;
  --ai-text-brand: #007a8d;
  --ai-text-success: #218358;
  --ai-text-info: #007a8d;
  --ai-text-warning: #cc4e00;
  --ai-text-neutral: #293548;
  --ai-border-brand: #30b6c2;
  --ai-border-primary: #667f89;
  --ai-border-secondary: #e5e9eb;
  --ai-border-contrast: #99aab1;
  --ai-border-invert: #335562;
  --ai-border-error: #fdbdbe;
  --ai-border-success: #adddc0;
  --ai-border-info: #98d9dc;
  --ai-border-warning: #ffc182;
  --ai-border-neutral: #e7edf0;
  --ai-icon-primary: #335562;
  --ai-icon-secondary: #667f89;
  --ai-icon-contrast: #99aab1;
  --ai-icon-invert: #ffffff;
  --ai-icon-invert-secondary: #a1b7c3;
  --ai-icon-brand: #0094ad;
  --cc-header-primary-bg: #0b2c3e;
  --cc-header-secondary-bg: #ffffff;
  --cc-header-icon: #f3f6f7;
  --cc-mainmenu-primary-bg: #0f3b53;
  --cc-mainmenu-secondary-bg: #0b2c3e;
  --cc-mainmenu-icon: #f3f6f7;
  --cc-ui-primary-bg: #e7edf0;
  --cc-ui-secondary-bg: #ffffff;
  --cc-actions-menu-primary-bg: #d0dbe1;
  --cc-actions-menu-secondary-bg: #e7edf0;
  --cc-actions-menu-icon: #667f89;
  --cc-actions-menu-icon-active: #335562;
  --ai-chat-brand: #0094ad;
  --ai-chat-msg-bg: #edf5f5;
  --ai-chat-msg-text: #043840;
  --ai-chat-sidebar-bg: #f2f4f5;
  --ai-chat-sidebar-text: #00222f;
  --ai-btn-primary-bg: #0094ad;
  --ai-btn-primary-bg-hover: #009fba;
  --ai-btn-primary-bg-pressed: #007a8d;
  --ai-btn-primary-border: rgba(0, 0, 0, 0);
  --ai-btn-primary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-primary-text: #ffffff;
  --ai-btn-primary-text-hover: #ffffff;
  --ai-btn-secondary-bg: rgba(0, 0, 0, 0);
  --ai-btn-secondary-bg-hover: #f3f6f7;
  --ai-btn-secondary-bg-pressed: #e5e9eb;
  --ai-btn-secondary-border: #ccd4d8;
  --ai-btn-secondary-border-hover: #ccd4d8;
  --ai-btn-secondary-text: #335562;
  --ai-btn-secondary-text-hover: #335562;
  --ai-btn-tertiary-bg: #e5e9eb;
  --ai-btn-tertiary-bg-hover: #f2f4f5;
  --ai-btn-tertiary-bg-pressed: #e5e9eb;
  --ai-btn-tertiary-border: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-text: #335562;
  --ai-btn-tertiary-text-hover: #00222f;
  --ai-btn-bg-disabled: #ccd4d8;
  --ai-btn-text-disabled: #99aab1;
  --ai-datatable-table-bg: #ffffff;
  --ai-datatable-table-header-bg: #ffffff;
  --ai-datatable-table-subheader-bg: #ffffff;
  --ai-datatable-table-footer-bg: #ffffff;
  --ai-datatable-table-border: #e5e9eb;
  --ai-datatable-table-expanded-bg: #f3f6f7;
  --ai-skeleton-base: #e5e9eb;
  --ai-skeleton-highlight: #ffffff;
  --ai-src-carousel-card-bg: #f2f4f5;
}
