[data-theme="dark"] [data-surface="chat"] {
  --ai-surface-primary: #212123;
  --ai-surface-minimal: #2e2e32;
  --ai-surface-secondary: #2e2e32;
  --ai-surface-contrast: #1b1b1f;
  --ai-surface-invert: #f6f6f7;
  --ai-surface-elevated-1: #2e2e32;
  --ai-surface-elevated-2: #3c3c3f;
  --ai-surface-brand: #0071d8;
  --ai-surface-brand-light: #3a8fff;
  --ai-surface-brand-dark: #0054a3;
  --ai-surface-brand-soft: #0b4c81;
  --ai-surface-brand-soft-extra: #0a2947;
  --ai-surface-error: #ef4444;
  --ai-surface-error-soft: #450a0a;
  --ai-surface-success: #10b981;
  --ai-surface-success-soft: #022c22;
  --ai-surface-info: #3a8fff;
  --ai-surface-info-soft: #0a2947;
  --ai-surface-warning: #f97316;
  --ai-surface-warning-soft: #431407;
  --ai-surface-neutral: #525256;
  --ai-surface-neutral-soft: #2e2e32;
  --ai-text-primary: #f6f6f7;
  --ai-text-secondary: #e2e2e3;
  --ai-text-contrast: #929295;
  --ai-text-invert: #1b1b1f;
  --ai-text-invert-secondary: #262629;
  --ai-text-error: #f87171;
  --ai-text-brand: #0071d8;
  --ai-text-success: #34da9b;
  --ai-text-info: #99c8d1;
  --ai-text-warning: #fb923c;
  --ai-text-neutral: #e2e2e3;
  --ai-border-brand: #0071d8;
  --ai-border-primary: #f6f6f7;
  --ai-border-secondary: #3c3c3f;
  --ai-border-contrast: #1b1b1f;
  --ai-border-invert: #f6f6f7;
  --ai-border-error: #991b1b;
  --ai-border-success: #065f46;
  --ai-border-info: #0054a3;
  --ai-border-warning: #9a3412;
  --ai-border-neutral: #525256;
  --ai-icon-primary: #f6f6f7;
  --ai-icon-secondary: #929295;
  --ai-icon-contrast: #929295;
  --ai-icon-invert: #1b1b1f;
  --ai-icon-invert-secondary: #262629;
  --ai-icon-brand: #0071d8;
  --cc-header-primary-bg: #1e293b;
  --cc-header-secondary-bg: #334155;
  --cc-header-icon: #334155;
  --cc-mainmenu-primary-bg: #334155;
  --cc-mainmenu-secondary-bg: #1e293b;
  --cc-mainmenu-icon: #334155;
  --ai-chat-brand: #0071d8;
  --ai-chat-msg-bg: #172554;
  --ai-chat-msg-text: #eff6ff;
  --ai-chat-sidebar-bg: #1b1b1f;
  --ai-chat-sidebar-text: #e2e2e3;
  --ai-btn-primary-bg: #0071d8;
  --ai-btn-primary-bg-hover: #3a8fff;
  --ai-btn-primary-bg-pressed: #0054a3;
  --ai-btn-primary-border: rgba(0, 0, 0, 0);
  --ai-btn-primary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-primary-text: #ffffff;
  --ai-btn-primary-text-hover: #ffffff;
  --ai-btn-secondary-bg: rgba(0, 0, 0, 0);
  --ai-btn-secondary-bg-hover: #2e2e32;
  --ai-btn-secondary-bg-pressed: #2e2e32;
  --ai-btn-secondary-border: #3c3c3f;
  --ai-btn-secondary-border-hover: #3c3c3f;
  --ai-btn-secondary-text: #f6f6f7;
  --ai-btn-secondary-text-hover: #f6f6f7;
  --ai-btn-tertiary-bg: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-bg-hover: #212123;
  --ai-btn-tertiary-bg-pressed: #2e2e32;
  --ai-btn-tertiary-border: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-text: #f6f6f7;
  --ai-btn-tertiary-text-hover: #f6f6f7;
  --ai-btn-bg-disabled: #67676c;
  --ai-btn-text-disabled: #c2c2c4;
  --ai-datatable-table-bg: #212123;
  --ai-datatable-table-header-bg: #2e2e32;
  --ai-datatable-table-subheader-bg: #212123;
  --ai-datatable-table-footer-bg: #2e2e32;
  --ai-datatable-table-border: #3c3c3f;
  --ai-datatable-table-expanded-bg: #2e2e32;
  --ai-skeleton-base: #1b1b1f;
  --ai-skeleton-highlight: #2e2e32;
  --ai-src-carousel-card-bg: #2e2e32;
}
