[data-theme="dark"] {
  --ai-surface-primary: #1e293b;
  --ai-surface-extra-minimal: #334155;
  --ai-surface-minimal: #293548;
  --ai-surface-secondary: #3d4b5f;
  --ai-surface-contrast: #64748b;
  --ai-surface-invert: #f1f5f9;
  --ai-surface-input: #172033;
  --ai-surface-elevated-1: #1e293b;
  --ai-surface-elevated-2: #334155;
  --ai-surface-brand: #009fba;
  --ai-surface-brand-light: #30b6c2;
  --ai-surface-brand-dark: #0094ad;
  --ai-surface-brand-soft: #043840;
  --ai-surface-brand-soft-extra: #00282f;
  --ai-surface-error: #e5484d;
  --ai-surface-error-soft: #3b1219;
  --ai-surface-success: #30a46c;
  --ai-surface-success-soft: #132d21;
  --ai-surface-info: #009fba;
  --ai-surface-info-soft: #00282f;
  --ai-surface-warning: #f76b15;
  --ai-surface-warning-soft: #331e0b;
  --ai-surface-neutral: #64748b;
  --ai-surface-neutral-soft: #293548;
  --ai-text-primary: #f1f5f9;
  --ai-text-secondary: #cad5e2;
  --ai-text-contrast: #94a3b8;
  --ai-text-invert: #e2e8f0;
  --ai-text-invert-secondary: #cad5e2;
  --ai-text-error: #e5484d;
  --ai-text-brand: #30b6c2;
  --ai-text-success: #8eceaa;
  --ai-text-info: #30b6c2;
  --ai-text-warning: #ec9455;
  --ai-text-neutral: #e2e8f0;
  --ai-border-brand: #007a8d;
  --ai-border-primary: #64748b;
  --ai-border-secondary: #334155;
  --ai-border-card: #334155;
  --ai-border-contrast: #475569;
  --ai-border-invert: #f1f5f9;
  --ai-border-error: #ce2c31;
  --ai-border-success: #218358;
  --ai-border-info: #007a8d;
  --ai-border-warning: #cc4e00;
  --ai-border-neutral: #64748b;
  --ai-icon-primary: #f1f5f9;
  --ai-icon-secondary: #cad5e2;
  --ai-icon-contrast: #94a3b8;
  --ai-icon-invert: #0f172a;
  --ai-icon-invert-secondary: #94a3b8;
  --ai-icon-brand: #30b6c2;
  --cc-header-primary-bg: #1e293b;
  --cc-header-secondary-bg: #334155;
  --cc-header-icon: #334155;
  --cc-mainmenu-primary-bg: #334155;
  --cc-mainmenu-secondary-bg: #1e293b;
  --cc-mainmenu-icon: #334155;
  --cc-ui-primary-bg: #0f172a;
  --cc-ui-secondary-bg: #1e293b;
  --cc-actions-menu-primary-bg: #334155;
  --cc-actions-menu-secondary-bg: #1e293b;
  --cc-actions-menu-icon: #334155;
  --cc-actions-menu-icon-active: #334155;
  --ai-chat-brand: #009fba;
  --ai-chat-msg-bg: #00282f;
  --ai-chat-msg-text: #edf5f5;
  --ai-chat-sidebar-bg: #1b1b1f;
  --ai-chat-sidebar-text: #cad5e2;
  --ai-btn-primary-bg: #009fba;
  --ai-btn-primary-bg-hover: #0094ad;
  --ai-btn-primary-bg-pressed: #007a8d;
  --ai-btn-primary-border: rgba(0, 0, 0, 0);
  --ai-btn-primary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-primary-text: #ffffff;
  --ai-btn-primary-text-hover: #ffffff;
  --ai-btn-secondary-bg: rgba(0, 0, 0, 0);
  --ai-btn-secondary-bg-hover: #293548;
  --ai-btn-secondary-bg-pressed: #3d4b5f;
  --ai-btn-secondary-border: #64748b;
  --ai-btn-secondary-border-hover: #64748b;
  --ai-btn-secondary-text: #f1f5f9;
  --ai-btn-secondary-text-hover: #f1f5f9;
  --ai-btn-tertiary-bg: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-bg-hover: #293548;
  --ai-btn-tertiary-bg-pressed: #3d4b5f;
  --ai-btn-tertiary-border: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-text: #f1f5f9;
  --ai-btn-tertiary-text-hover: #f1f5f9;
  --ai-btn-bg-disabled: #64748b;
  --ai-btn-text-disabled: #cad5e2;
  --ai-datatable-table-bg: #1e293b;
  --ai-datatable-table-header-bg: #293548;
  --ai-datatable-table-subheader-bg: #1e293b;
  --ai-datatable-table-footer-bg: #293548;
  --ai-datatable-table-border: #334155;
  --ai-datatable-table-expanded-bg: #293548;
  --ai-skeleton-base: #0f172a;
  --ai-skeleton-highlight: #334155;
  --ai-src-carousel-card-bg: #334155;
  --ai-accent-blue-radix-solid: #0090ff;
  --ai-accent-blue-radix-solid-fg: #ffffff;
  --ai-accent-blue-radix-soft: #113264;
  --ai-accent-blue-radix-soft-fg: #0090ff;
  --ai-accent-teal-radix-solid: #12a594;
  --ai-accent-teal-radix-solid-fg: #ffffff;
  --ai-accent-teal-radix-soft: #0d3d38;
  --ai-accent-teal-radix-soft-fg: #12a594;
  --ai-accent-green-radix-solid: #30a46c;
  --ai-accent-green-radix-solid-fg: #ffffff;
  --ai-accent-green-radix-soft: #193b2d;
  --ai-accent-green-radix-soft-fg: #30a46c;
  --ai-accent-jade-solid: #29a383;
  --ai-accent-jade-solid-fg: #ffffff;
  --ai-accent-jade-soft: #1d3b31;
  --ai-accent-jade-soft-fg: #29a383;
  --ai-accent-lagoon-solid: #009fba;
  --ai-accent-lagoon-solid-fg: #ffffff;
  --ai-accent-lagoon-soft: #043840;
  --ai-accent-lagoon-soft-fg: #009fba;
  --ai-accent-orange-radix-solid: #f76b15;
  --ai-accent-orange-radix-solid-fg: #172033;
  --ai-accent-orange-radix-soft: #582d1d;
  --ai-accent-orange-radix-soft-fg: #f76b15;
  --ai-accent-red-radix-solid: #e5484d;
  --ai-accent-red-radix-solid-fg: #ffffff;
  --ai-accent-red-radix-soft: #641723;
  --ai-accent-red-radix-soft-fg: #e5484d;
  --ai-accent-violet-radix-solid: #6e56cf;
  --ai-accent-violet-radix-solid-fg: #ffffff;
  --ai-accent-violet-radix-soft: #2f265f;
  --ai-accent-violet-radix-soft-fg: #aa99ec;
  --ai-accent-lime-radix-solid: #bdee63;
  --ai-accent-lime-radix-solid-fg: #172033;
  --ai-accent-lime-radix-soft: #37401c;
  --ai-accent-lime-radix-soft-fg: #bdee63;
  --ai-accent-blue-solid: #0071d8;
  --ai-accent-blue-solid-fg: #ffffff;
  --ai-accent-blue-soft: #0f406b;
  --ai-accent-blue-soft-fg: #75a5ff;
  --ai-accent-mid-blue-solid: #426e86;
  --ai-accent-mid-blue-solid-fg: #ffffff;
  --ai-accent-mid-blue-soft: #0b2c3e;
  --ai-accent-mid-blue-soft-fg: #a1b7c3;
  --ai-accent-dark-blue-solid: #335562;
  --ai-accent-dark-blue-solid-fg: #ffffff;
  --ai-accent-dark-blue-soft: #001923;
  --ai-accent-dark-blue-soft-fg: #99aab1;
  --ai-accent-muted-teal-solid: #0094ad;
  --ai-accent-muted-teal-solid-fg: #ffffff;
  --ai-accent-muted-teal-soft: #043840;
  --ai-accent-muted-teal-soft-fg: #98d9dc;
  --ai-accent-bright-teal-solid: #30b6c2;
  --ai-accent-bright-teal-solid-fg: #172033;
  --ai-accent-bright-teal-soft: #00282f;
  --ai-accent-bright-teal-soft-fg: #98d9dc;
  --ai-accent-emerald-solid: #059669;
  --ai-accent-emerald-solid-fg: #ffffff;
  --ai-accent-emerald-soft: #064e3b;
  --ai-accent-emerald-soft-fg: #34da9b;
  --ai-accent-orange-solid: #ea580c;
  --ai-accent-orange-solid-fg: #ffffff;
  --ai-accent-orange-soft: #7c2d12;
  --ai-accent-orange-soft-fg: #fb923c;
  --ai-accent-pink-solid: #db2777;
  --ai-accent-pink-solid-fg: #ffffff;
  --ai-accent-pink-soft: #831843;
  --ai-accent-pink-soft-fg: #f472b6;
  --ai-accent-red-solid: #dc2626;
  --ai-accent-red-solid-fg: #ffffff;
  --ai-accent-red-soft: #7f1d1d;
  --ai-accent-red-soft-fg: #f87171;
  --ai-accent-green-solid: #4eb78f;
  --ai-accent-green-solid-fg: #172033;
  --ai-accent-green-soft: #146345;
  --ai-accent-green-soft-fg: #a7dbc7;
  --ai-accent-purple-solid: #9333ea;
  --ai-accent-purple-solid-fg: #ffffff;
  --ai-accent-purple-soft: #581c87;
  --ai-accent-purple-soft-fg: #c084fc;
  --ai-accent-indigo-solid: #4f46e5;
  --ai-accent-indigo-solid-fg: #ffffff;
  --ai-accent-indigo-soft: #312e81;
  --ai-accent-indigo-soft-fg: #818cf8;
}
