[data-brand="cc"][data-theme="dark"] {
  --ai-surface-primary: #1e293b;
  --ai-surface-minimal: #334155;
  --ai-surface-secondary: #475569;
  --ai-surface-contrast: #64748b;
  --ai-surface-invert: #f1f5f9;
  --ai-surface-elevated-1: #334155;
  --ai-surface-elevated-2: #475569;
  --ai-surface-brand: #33bfcb;
  --ai-surface-brand-light: #66cfd8;
  --ai-surface-brand-dark: #00afbe;
  --ai-surface-brand-soft: #008c98;
  --ai-surface-brand-soft-extra: #002326;
  --ai-surface-error: #ef4444;
  --ai-surface-error-soft: #450a0a;
  --ai-surface-success: #10b981;
  --ai-surface-success-soft: #022c22;
  --ai-surface-info: #33bfcb;
  --ai-surface-info-soft: #002326;
  --ai-surface-warning: #f97316;
  --ai-surface-warning-soft: #431407;
  --ai-surface-neutral: #525256;
  --ai-surface-neutral-soft: #2e2e32;
  --ai-text-primary: #f1f5f9;
  --ai-text-secondary: #e2e8f0;
  --ai-text-contrast: #94a3b8;
  --ai-text-invert: #e2e8f0;
  --ai-text-invert-secondary: #cbd5e1;
  --ai-text-error: #f87171;
  --ai-text-brand: #33bfcb;
  --ai-text-success: #34da9b;
  --ai-text-info: #99dfe5;
  --ai-text-warning: #fb923c;
  --ai-text-neutral: #e2e8f0;
  --ai-border-brand: #33bfcb;
  --ai-border-primary: #f1f5f9;
  --ai-border-secondary: #334155;
  --ai-border-contrast: #475569;
  --ai-border-invert: #f1f5f9;
  --ai-border-error: #991b1b;
  --ai-border-success: #065f46;
  --ai-border-info: #0054a3;
  --ai-border-warning: #9a3412;
  --ai-border-neutral: #64748b;
  --ai-icon-primary: #f1f5f9;
  --ai-icon-secondary: #cbd5e1;
  --ai-icon-contrast: #94a3b8;
  --ai-icon-invert: #0f172a;
  --ai-icon-invert-secondary: #94a3b8;
  --ai-icon-brand: #33bfcb;
  --cc-header-primary-bg: #1e293b;
  --cc-header-secondary-bg: #334155;
  --cc-header-icon: #e2e8f0;
  --cc-mainmenu-primary-bg: #334155;
  --cc-mainmenu-secondary-bg: #1e293b;
  --cc-mainmenu-icon: #e2e8f0;
  --cc-ui-primary-bg: #0f172a;
  --cc-ui-secondary-bg: #1e293b;
  --cc-actions-menu-primary-bg: #334155;
  --cc-actions-menu-secondary-bg: #1e293b;
  --cc-actions-menu-icon: #94a3b8;
  --cc-actions-menu-icon: #cbd5e1;
  --ai-chat-brand: #33bfcb;
  --ai-chat-msg-bg: #f2fbfc;
  --ai-chat-msg-text: #00464c;
  --ai-chat-sidebar-bg: #172033;
  --ai-chat-sidebar-text: #e2e8f0;
  --ai-btn-primary-bg: #33bfcb;
  --ai-btn-primary-bg-hover: #66cfd8;
  --ai-btn-primary-bg-pressed: #00afbe;
  --ai-btn-primary-border: rgba(0, 0, 0, 0);
  --ai-btn-primary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-primary-text: #ffffff;
  --ai-btn-primary-text-hover: #ffffff;
  --ai-btn-secondary-bg: rgba(0, 0, 0, 0);
  --ai-btn-secondary-bg-hover: #334155;
  --ai-btn-secondary-bg-pressed: #475569;
  --ai-btn-secondary-border: #64748b;
  --ai-btn-secondary-border-hover: #64748b;
  --ai-btn-secondary-text: #f1f5f9;
  --ai-btn-secondary-text-hover: #f1f5f9;
  --ai-btn-tertiary-bg: #334155;
  --ai-btn-tertiary-bg-hover: #334155;
  --ai-btn-tertiary-bg-pressed: #334155;
  --ai-btn-tertiary-border: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-text: #f1f5f9;
  --ai-btn-tertiary-text-hover: #f1f5f9;
  --ai-btn-bg-disabled: #94a3b8;
  --ai-btn-text-disabled: #64748b;
  --ai-datatable-table-bg: #1e293b;
  --ai-datatable-table-header-bg: #334155;
  --ai-datatable-table-subheader-bg: #1e293b;
  --ai-datatable-table-footer-bg: #1e293b;
  --ai-datatable-table-border: #334155;
  --ai-datatable-table-expanded-bg: #334155;
  --ai-skeleton-base: #0f172a;
  --ai-skeleton-highlight: #334155;
  --ai-src-carousel-card-bg: #334155;
}
