[data-surface="chat"] {
  --ai-surface-primary: #ffffff;
  --ai-surface-extra-minimal: #f6f6f7;
  --ai-surface-minimal: #e2e2e3;
  --ai-surface-secondary: #ffffff;
  --ai-surface-contrast: #f6f6f7;
  --ai-surface-invert: #1b1b1f;
  --ai-surface-input: #fafafb;
  --ai-surface-elevated-1: #ffffff;
  --ai-surface-elevated-2: #f6f6f7;
  --ai-surface-brand: #0588f0;
  --ai-surface-brand-light: #0090ff;
  --ai-surface-brand-dark: #0d74ce;
  --ai-surface-brand-soft: #d5efff;
  --ai-surface-brand-soft-extra: #f4faff;
  --ai-surface-error: #e5484d;
  --ai-surface-error-soft: #feebec;
  --ai-surface-success: #30a46c;
  --ai-surface-success-soft: #e6f6eb;
  --ai-surface-info: #0588f0;
  --ai-surface-info-soft: #f4faff;
  --ai-surface-warning: #f76b15;
  --ai-surface-warning-soft: #fff7ed;
  --ai-surface-neutral: #2e2e32;
  --ai-surface-neutral-soft: #f6f6f7;
  --ai-text-primary: #212123;
  --ai-text-secondary: #3c3c3f;
  --ai-text-contrast: #67676c;
  --ai-text-invert: #ffffff;
  --ai-text-invert-secondary: #ececed;
  --ai-text-error: #ce2c31;
  --ai-text-brand: #0d74ce;
  --ai-text-success: #218358;
  --ai-text-info: #0d74ce;
  --ai-text-warning: #cc4e00;
  --ai-text-neutral: #212123;
  --ai-border-brand: #5eb1ef;
  --ai-border-primary: #1b1b1f;
  --ai-border-secondary: #e2e2e3;
  --ai-border-contrast: #f6f6f7;
  --ai-border-invert: #1b1b1f;
  --ai-border-error: #fdbdbe;
  --ai-border-success: #adddc0;
  --ai-border-info: #acd8fc;
  --ai-border-warning: #ffc182;
  --ai-border-neutral: #e2e2e3;
  --ai-icon-primary: #212123;
  --ai-icon-secondary: #67676c;
  --ai-icon-contrast: #929295;
  --ai-icon-invert: #ffffff;
  --ai-icon-invert-secondary: #e2e2e3;
  --ai-icon-brand: #0588f0;
  --cc-header-primary-bg: #1e293b;
  --cc-header-secondary-bg: #334155;
  --cc-header-icon: #334155;
  --cc-mainmenu-primary-bg: #334155;
  --cc-mainmenu-secondary-bg: #1e293b;
  --cc-mainmenu-icon: #334155;
  --cc-ui-primary-bg: #ececed;
  --cc-ui-secondary-bg: #ffffff;
  --cc-actions-menu-primary-bg: #334155;
  --cc-actions-menu-secondary-bg: #1e293b;
  --cc-actions-menu-icon: #334155;
  --cc-actions-menu-icon-active: #334155;
  --ai-chat-brand: #0588f0;
  --ai-chat-msg-bg: #f4faff;
  --ai-chat-msg-text: #0d74ce;
  --ai-chat-sidebar-bg: #f6f6f7;
  --ai-chat-sidebar-text: #212123;
  --ai-btn-primary-bg: #0588f0;
  --ai-btn-primary-bg-hover: #0090ff;
  --ai-btn-primary-bg-pressed: #0d74ce;
  --ai-btn-primary-border: rgba(0, 0, 0, 0);
  --ai-btn-primary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-primary-text: #ffffff;
  --ai-btn-primary-text-hover: #ffffff;
  --ai-btn-secondary-bg: rgba(0, 0, 0, 0);
  --ai-btn-secondary-bg-hover: #f6f6f7;
  --ai-btn-secondary-bg-pressed: #f6f6f7;
  --ai-btn-secondary-border: #e2e2e3;
  --ai-btn-secondary-border-hover: #e2e2e3;
  --ai-btn-secondary-text: #212123;
  --ai-btn-secondary-text-hover: #212123;
  --ai-btn-tertiary-bg: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-bg-hover: #f6f6f7;
  --ai-btn-tertiary-bg-pressed: #ffffff;
  --ai-btn-tertiary-border: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-border-hover: rgba(0, 0, 0, 0);
  --ai-btn-tertiary-text: #212123;
  --ai-btn-tertiary-text-hover: #212123;
  --ai-btn-bg-disabled: #c2c2c4;
  --ai-btn-text-disabled: #67676c;
  --ai-datatable-table-bg: #ffffff;
  --ai-datatable-table-header-bg: #e2e2e3;
  --ai-datatable-table-subheader-bg: #ffffff;
  --ai-datatable-table-footer-bg: #e2e2e3;
  --ai-datatable-table-border: #e2e2e3;
  --ai-datatable-table-expanded-bg: #e2e2e3;
  --ai-skeleton-base: #e2e2e3;
  --ai-skeleton-highlight: #ffffff;
  --ai-src-carousel-card-bg: #f6f6f7;
  --ai-accent-blue-radix-solid: #0090ff;
  --ai-accent-blue-radix-solid-fg: #ffffff;
  --ai-accent-blue-radix-soft: #e6f4fe;
  --ai-accent-blue-radix-soft-fg: #0d74ce;
  --ai-accent-teal-radix-solid: #12a594;
  --ai-accent-teal-radix-solid-fg: #ffffff;
  --ai-accent-teal-radix-soft: #e0f8f3;
  --ai-accent-teal-radix-soft-fg: #008573;
  --ai-accent-green-radix-solid: #30a46c;
  --ai-accent-green-radix-solid-fg: #ffffff;
  --ai-accent-green-radix-soft: #e6f6eb;
  --ai-accent-green-radix-soft-fg: #218358;
  --ai-accent-jade-solid: #29a383;
  --ai-accent-jade-solid-fg: #ffffff;
  --ai-accent-jade-soft: #e6f7ed;
  --ai-accent-jade-soft-fg: #208368;
  --ai-accent-lagoon-solid: #009fba;
  --ai-accent-lagoon-solid-fg: #ffffff;
  --ai-accent-lagoon-soft: #d9f2f2;
  --ai-accent-lagoon-soft-fg: #007a8d;
  --ai-accent-orange-radix-solid: #f76b15;
  --ai-accent-orange-radix-solid-fg: #172033;
  --ai-accent-orange-radix-soft: #ffefd6;
  --ai-accent-orange-radix-soft-fg: #cc4e00;
  --ai-accent-red-radix-solid: #e5484d;
  --ai-accent-red-radix-solid-fg: #ffffff;
  --ai-accent-red-radix-soft: #feebec;
  --ai-accent-red-radix-soft-fg: #ce2c31;
  --ai-accent-violet-radix-solid: #6e56cf;
  --ai-accent-violet-radix-solid-fg: #ffffff;
  --ai-accent-violet-radix-soft: #f4f0fe;
  --ai-accent-violet-radix-soft-fg: #6550b9;
  --ai-accent-lime-radix-solid: #bdee63;
  --ai-accent-lime-radix-solid-fg: #172033;
  --ai-accent-lime-radix-soft: #eef6d6;
  --ai-accent-lime-radix-soft-fg: #5c7c2f;
  --ai-accent-blue-solid: #0071d8;
  --ai-accent-blue-solid-fg: #ffffff;
  --ai-accent-blue-soft: #e0e8ff;
  --ai-accent-blue-soft-fg: #0054a3;
  --ai-accent-mid-blue-solid: #426e86;
  --ai-accent-mid-blue-solid-fg: #ffffff;
  --ai-accent-mid-blue-soft: #e7edf0;
  --ai-accent-mid-blue-soft-fg: #134a68;
  --ai-accent-dark-blue-solid: #335562;
  --ai-accent-dark-blue-solid-fg: #ffffff;
  --ai-accent-dark-blue-soft: #e5e9eb;
  --ai-accent-dark-blue-soft-fg: #002a3b;
  --ai-accent-muted-teal-solid: #0094ad;
  --ai-accent-muted-teal-solid-fg: #ffffff;
  --ai-accent-muted-teal-soft: #d9f2f2;
  --ai-accent-muted-teal-soft-fg: #007a8d;
  --ai-accent-bright-teal-solid: #30b6c2;
  --ai-accent-bright-teal-solid-fg: #172033;
  --ai-accent-bright-teal-soft: #c5eded;
  --ai-accent-bright-teal-soft-fg: #007a8d;
  --ai-accent-emerald-solid: #059669;
  --ai-accent-emerald-solid-fg: #ffffff;
  --ai-accent-emerald-soft: #d1fae5;
  --ai-accent-emerald-soft-fg: #047857;
  --ai-accent-orange-solid: #ea580c;
  --ai-accent-orange-solid-fg: #ffffff;
  --ai-accent-orange-soft: #ffedd5;
  --ai-accent-orange-soft-fg: #c2410c;
  --ai-accent-pink-solid: #db2777;
  --ai-accent-pink-solid-fg: #ffffff;
  --ai-accent-pink-soft: #fce7f3;
  --ai-accent-pink-soft-fg: #be185d;
  --ai-accent-red-solid: #dc2626;
  --ai-accent-red-solid-fg: #ffffff;
  --ai-accent-red-soft: #fde8e8;
  --ai-accent-red-soft-fg: #b91c1c;
  --ai-accent-green-solid: #4eb78f;
  --ai-accent-green-solid-fg: #172033;
  --ai-accent-green-soft: #d3ede3;
  --ai-accent-green-soft-fg: #1b845c;
  --ai-accent-purple-solid: #9333ea;
  --ai-accent-purple-solid-fg: #ffffff;
  --ai-accent-purple-soft: #f3e8ff;
  --ai-accent-purple-soft-fg: #7e22ce;
  --ai-accent-indigo-solid: #4f46e5;
  --ai-accent-indigo-solid-fg: #ffffff;
  --ai-accent-indigo-soft: #e0e7ff;
  --ai-accent-indigo-soft-fg: #4338ca;
}
